includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon
parameters:
  ignoreErrors:
    - '#Return typehint of method Ps_Shoppingcart\:\:getPresentedCart\(\) has invalid type CartLazyArray\.'
